{% extends 'base.html' %}

{% block content %}

<!-- breadcrumbs -->
<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="{% url 'accounts:home'%}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Register Page</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->

<!-- register -->
	<div class="register">
		<div class="container">
			<h2>Register Here</h2>
			<div class="login-form-grids">
				<h5>profile information</h5>
				<form action="#" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        
                        <div class="form-group">
                            {{ field.label_tag}}
                            {{field}}
                        </div>
                        
                        {% endfor %}
                        <input type="submit" value="Register">
				</form>
			<div class="register-home">
				<a href="{% url 'accounts:home' %}">Home</a>
			</div>
		</div>
    </div>
</div>

<!-- //register -->
{% endblock %}

